#bntNovaPessoa {
  /* background: linear-gradient( -47deg, rgb(165, 0, 0), rgb(209, 67, 67) ); */
  background: linear-gradient( -47deg, #434f57, #090d0f);
  color: var(--color2);
  font-size: 1.7em;
  
  height: 20%;
  width: 100%;

  border-radius: 0px 0px 7px 7px;
  border: none;
  
  cursor: pointer;
  transition: .5s;
  user-select: none;
}

#bntNovaPessoa:hover {
  transition: .5s;
  color: var(--color5);
}

#bntNovaPessoa:active {
  color: yellowgreen;
  transition: .5s;
}