#conteinerPessoas {
  color: var(--color2);
  position: relative;
  display: flex;
  flex-direction: column;

  min-width: 210px;
  width: 30%;
  height: 60%;

  margin: 60px;
  align-self: center;
}

#Pessoas {
  height: 90%;
  overflow-y: scroll;
}

#Pessoas::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

#Pessoas::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  border-radius: 5px;
}


.Pessoa.card {
  font-size: 100%;

  width: 85%;
  height: 45px;
  
  margin-inline: auto;
  margin-block: 12px;
  
  justify-content: center;
}
