#containerDados, #AdicionarPessoa {
  color: #fff;

  display: flex;
  height: 60%;
  width: 50%;

  flex-wrap: wrap;
  align-self: center;
  align-items: center;

  padding: 15px;
  margin-inline: auto;
}

#containerDados .container, #AdicionarPessoa .container{
  width: 40%;
  height: 80px;
  
  text-align: center;
  
  margin-inline: auto;
}

#containerDados .dado{
  color: var(--color2);
  text-align: start;
  padding-left: 10px;
  margin-block: 7px;
}

#containerDados .neumorphism, #AdicionarPessoa .neumorphism{
  background: var(--color1);

  box-shadow: inset 3px 3px 5px #000000,
            inset -3px -3px 5px #445661;
}

/* inputs do AdicionarPessoas */
#AdicionarPessoa .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#AdicionarPessoa input {
  height: 45px;
  text-align: center;
}