#dadosP {
  /* background-color: var(--color2); */
  background: linear-gradient( -47deg, #61cdda, #36777e);
  display: flex;
  height: 60%;
  width: 50%;
  
  flex-direction: column; /* esse comando vai deixar o main organizado da maneira desejada */

  justify-content: center;
  border-radius: 15px;
  margin-inline: auto;
  align-self: center;

  box-shadow:  11px 11px 22px #1f4347,
  -11px -11px 22px #7dffff;
}

main .card {
  margin: 10px;
}
