main {
  background-color: var(--color4);
  display: flex;
  height: 260px;
  width: 300px;
  
  flex-direction: column; /* esse comando vai deixar o main organizado da maneira desejada */

  justify-content: center;
  border-radius: 5px;
  margin-inline: auto;
  align-self: center;
}

main .card {
  margin: 10px;
}
