main {
  background-color: var(--color2);
  display: flex;
  width: 100%;
  
  flex-direction: column; /* esse comando vai deixar o main organizado da maneira desejada */

  border-radius: 5px;
  margin: 9px;
}
