aside {
  background-color: var(--color2);
  display: flex;

  min-width: 140px;
  width: 24%;

  margin: 16px;
  border-radius: 7px;
}

.Pessoa {
  background-color: var(--color3);
  display: flex;
  
  height: 35px;
  width: 80%;
  
  align-items: center;
  justify-content: center;
  
  margin-top: 7px;
  margin-inline: auto;

  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}