aside {
  background-color: var(--color4);
  display: flex;
  flex-direction: column;

  min-width: 210px;
  width: 35%;

  margin: 9px;
  border-radius: 7px;
}

.Pessoa.card {
  justify-content: center;
  margin-inline: auto;
  margin-top: 12px;
  width: 85%;
  font-size: 100%;
}
