aside {
  background-color: var(--color2);
  display: flex;
  flex-direction: column;

  min-width: 210px;
  width: 30%;
  height: 60%;

  margin: 60px;
  border-radius: 15px;
  align-self: center;

  box-shadow:  11px 11px 22px #1f4347,
  -11px -11px 22px #7dffff;
}

.Pessoa.card {
  justify-content: center;
  margin-inline: auto;
  margin-top: 12px;
  width: 85%;
  font-size: 100%;
}
