@import url(./Pessoa.css);
@import url(./main.css);
@import url(./card.css);

:root {
  --color1: #172026;
  --color2: #4ea7b1;
  --color4: #04BFAD;
  --color5: #04BF9D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color2);
  color: #fff;

  display: flex;

  height: 100vh;
  width: 100vw;
}
