@import url(./Pessoa.css);
@import url(./main.css);

:root {
  --color1: #172026;
  --color2: #4ea7b1;
  --color3: #027373;
  --color4: #04BFAD;
  --color5: #04BF9D;
  --color-font: #f5deb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color1);
  color: var(--color-font);

  display: flex;

  height: 100vh;
  width: 100vw;
}
