@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url(./containerPessoas.css);
@import url(./btnADD.css);
@import url(./card.css);
@import url(./containerDados.css);
@import url(./neumorphism.css);
@import url(./active.css);

:root {
  --color1: #172026;
  --color2: #4ea7b1;
  --color4: #04BFAD;
  --color5: #04BF9D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

body {
  background: linear-gradient( -47deg, #255055, #61cdda);
  color: #fff;

  display: flex;

  height: 100vh;
  width: 100vw;
}

#containerMain {
  display: flex;
  border: solid black;

  height: 100%;
  width: 100%;
}